datagrids:
    kiboko-dam-nodes-grid:
        columns:
            name:
                label: kiboko.dam.documentnode.datagrid.columns.name.label
                data_name: localeName
            slug:
                label: kiboko.dam.documentnode.datagrid.columns.slug.label
                data_name: localeSlug
            integration:
                label: kiboko.dam.documentnode.datagrid.columns.integration.label
                dataname: integration
        sorters:
            columns:
                name:
                    data_name: localeName
                slug:
                    data_name: localeSlug
                integration:
                    data_name: integration
        filters:
            columns:
                name:
                    type: string
                    data_name: localeName
                slug:
                    type: string
                    data_name: localeSlug
                integration:
                    type: string
                    data_name: integration
        actions:
            view:
                type: navigate
                label: oro.grid.action.view
                link: view_link
                icon: eye
                rowAction: true
            edit:
                type: navigate
                label: oro.grid.action.update
                link: update_link
                icon: edit

    kiboko-dam-team-storages-nodes-grid:
        extends: kiboko-dam-nodes-grid
        source:
            type: orm
            query:
                select:
                    - node.uuid
                    - name.string AS localeName
                    - slug.string AS localeSlug
                    - channel.name AS integration
                from:
                    - { table: KibokoDAMBundle:TeamStorageNode, alias: node }
                join:
                    left:
                        - { join: node.names, alias: name }
                        - { join: node.slugs, alias: slug }
                        - { join: node.integration, alias: channel }
                where:
                    and:
                        - name.localization IS NULL
                        - slug.localization IS NULL
                        - node.parent IS NULL
        properties:
            uuid: ~
            view_link:
                type: url
                route: kiboko_dam_node_browse
                params:
                    uuid: uuid
            update_link:
                type: url
                route: kiboko_dam_storage_update
                params:
                    uuid: uuid

    kiboko-dam-document-nodes-grid:
        extends: kiboko-dam-nodes-grid
        source:
            type: orm
            query:
                select:
                    - node.uuid
                    - name.string AS localeName
                    - slug.string AS localeSlug
                from:
                    - { table: KibokoDAMBundle:DocumentNode, alias: node }
                join:
                    left:
                        - { join: node.names, alias: name }
                        - { join: node.slugs, alias: slug }
                where:
                    and:
                        - name.localization IS NULL
                        - slug.localization IS NULL
                        - node.parent = :parent
            bind_parameters:
                parent: parent
        properties:
            uuid: ~
            view_link:
                type: url
                route: kiboko_dam_node_browse
                params:
                    uuid: uuid
            update_link:
                type: url
                route: kiboko_dam_node_update
                params:
                    uuid: uuid

    kiboko-dam-documents-grid:
        options:
            frontend: true
        source:
            type: orm
            query:
                select:
                    - file.id AS fileId
                    - file.filename AS fileName
                    - owner.username
                    - document.uuid AS uuid
                from:
                    - { table: KibokoDAMBundle:Document, alias: document }
                join:
                    inner:
                        - { join: document.node, alias: node }
                    left:
                        - { join: document.file, alias: file }
                        - { join: document.owner, alias: owner }
                where:
                    and:
                        - node.uuid = :parent
            bind_parameters:
                -
                    name: parent
                    default: null
                    type: string
        properties:
            name:
                type: localized_value
                data_name: names
            slug:
                type: localized_value
                data_name: slugs
            view_link:
                type:  url
                route: kiboko_dam_document_view
                params:
                     - uuid
            update_link:
                type:  url
                route: kiboko_dam_document_update
                params:
                     - uuid
        actions:
            view:
                acl_resource:  kiboko_dam_document_view
                type:          navigate
                label:         oro.grid.action.view
                link:          view_link
                icon:          eye
                rowAction:     true
            update:
                acl_resource:  kiboko_project_update
                type:          navigate
                label:         oro.grid.action.update
                link:          update_link
                icon:          edit
                rowAction:     true
    #          delete:
    #              acl_resource:  kiboko_api_delete_project
    #              type:          delete
    #              label:         oro.grid.action.delete
    #              link:          delete_link
    #              icon:          trash
    #              rowAction:     true
        columns:
            name:
                label: kiboko.dam.document.datagrid.columns.name.label
                data_name: name
            slug:
                label: kiboko.dam.document.datagrid.columns.slug.label
                data_name: slug
            filename:
                label: kiboko.dam.document.datagrid.columns.thumbnail.label
                data_name: filename
                type: twig
                frontend_type: html
                template: KibokoDAMBundle:Document:Datagrid/Property/thumbnail.html.twig
            owner:
              label: kiboko.dam.document.datagrid.columns.owner.label
              data_name: owner
        sorters:
            columns:
                name:
                    data_name: name
                slug:
                    data_name: slug
        filters:
            columns:
                name:
                    type: string
                    data_name: name
                slug:
                    type: string
                    data_name: slug
