datagrids:
    kiboko-dam-nodes-grid:
        columns:
            uuid:
                label: ID
            name:
                label: Name
                data_name: localeName
            slug:
                label: Slug
                data_name: localeSlug
        sorters:
            columns:
                uuid:
                    data_name: node.uuid
                name:
                    data_name: localeName
                slug:
                    data_name: localeSlug
        filters:
            columns:
                uuid:
                    type: string
                    data_name: task.uuid
                name:
                    type: string
                    data_name: localeName
                slug:
                    type: string
                    data_name: localeSlug
        actions:
            view:
                type: navigate
                label: Edit
                link: view_link
                icon: eye
                rowAction: true
            edit:
                type: navigate
                label: Edit
                link: update_link
                icon: edit

    kiboko-dam-team-storages-nodes-grid:
        extends: kiboko-dam-nodes-grid
        source:
            type: orm
            query:
                select:
                    - node.uuid
                    - name.string AS localeName
                    - slug.string AS localeSlug
                from:
                    - { table: KibokoDAMBundle:TeamStorageNode, alias: node }
                join:
                    left:
                        - { join: node.names, alias: name }
                        - { join: node.slugs, alias: slug }
                where:
                    and:
                        - name.localization IS NULL
                        - slug.localization IS NULL
                        - node.parent IS NULL
        properties:
            uuid: ~
            view_link:
                type: url
                route: kiboko_dam_node_browse
                params:
                    uuid: uuid
            update_link:
                type: url
                route: kiboko_dam_storage_update
                params:
                    uuid: uuid

    kiboko-dam-document-nodes-grid:
        extends: kiboko-dam-nodes-grid
        source:
            type: orm
            query:
                select:
                    - node.uuid
                    - name.string AS localeName
                    - slug.string AS localeSlug
                from:
                    - { table: KibokoDAMBundle:DocumentNode, alias: node }
                join:
                    left:
                        - { join: node.names, alias: name }
                        - { join: node.slugs, alias: slug }
                where:
                    and:
                        - name.localization IS NULL
                        - slug.localization IS NULL
                        - node.parent = :parent
            bind_parameters:
                parent: parent
        properties:
            uuid: ~
            view_link:
                type: url
                route: kiboko_dam_node_browse
                params:
                    uuid: uuid
            update_link:
                type: url
                route: kiboko_dam_node_update
                params:
                    uuid: uuid

    kiboko-dam-documents-grid:
        source:
            type: orm
            query:
                select:
                    - file.id AS fileId
                    - file.filename AS fileName
                from:
                    - { table: KibokoDAMBundle:Document, alias: document }
                join:
                    inner:
                        - { join: document.node, alias: node }
                    left:
                        - { join: document.file, alias: file }
                where:
                    and:
                        - node.uuid = :parent
            bind_parameters:
                parent: parent
        properties:
            name:
                type: localized_value
                data_name: names
            slug:
                type: localized_value
                data_name: slugs
        columns:
            name:
                label: Name
                data_name: name
            slug:
                label: Slug
                data_name: slug
            filename:
                label: Thumbnail
                data_name: filename
                type: twig
                frontend_type: html
                template: KibokoDAMBundle:Document:Datagrid/Property/thumbnail.html.twig
        sorters:
            columns:
                name:
                    data_name: name
                slug:
                    data_name: slug
        filters:
            columns:
                name:
                    type: string
                    data_name: name
#                slug:
#                    type: string
#                    data_name: slug
