datagrids:
    kiboko-dam-nodes-grid:
        columns:
            id:
                label: ID
            name:
                label: Name
                data_name: localeName
            slug:
                label: Slug
                data_name: localeSlug
        sorters:
            columns:
                id:
                    data_name: node.id
                name:
                    data_name: localeName
                slug:
                    data_name: localeSlug
        filters:
            columns:
                id:
                    type: string
                    data_name: task.id
                name:
                    type: string
                    data_name: localeName
                slug:
                    type: string
                    data_name: localeSlug
        actions:
            view:
                type: navigate
                label: Edit
                link: view_link
                icon: eye
            edit:
                type: navigate
                label: Edit
                link: update_link
                icon: edit

    kiboko-dam-team-storages-nodes-grid:
        extends: kiboko-dam-nodes-grid
        source:
            type: orm
            query:
                select:
                    - node.id
                    - name.string AS localeName
                    - slug.string AS localeSlug
                from:
                    - { table: KibokoDAMBundle:TeamStorageNode, alias: node }
                join:
                    left:
                        - { join: node.names, alias: name }
                        - { join: node.slugs, alias: slug }
                where:
                    and:
                        - name.localization IS NULL
                        - slug.localization IS NULL
                        - node.parent IS NULL
        properties:
            id: ~
            view_link:
                type: url
                route: kiboko_dam_node_browse
                params:
                    uuid: id
            update_link:
                type: url
                route: kiboko_dam_storage_update
                params:
                    uuid: id

    kiboko-dam-document-nodes-grid:
        extends: kiboko-dam-nodes-grid
        source:
            type: orm
            query:
                select:
                    - node.id
                    - name.string AS localeName
                    - slug.string AS localeSlug
                from:
                    - { table: KibokoDAMBundle:DocumentNode, alias: node }
                join:
                    left:
                        - { join: node.names, alias: name }
                        - { join: node.slugs, alias: slug }
                where:
                    and:
                        - name.localization IS NULL
                        - slug.localization IS NULL
                        - node.parent = :parent
            bind_parameters:
                parent: parent
        properties:
            id: ~
            view_link:
                type: url
                route: kiboko_dam_node_browse
                params:
                    uuid: id
            update_link:
                type: url
                route: kiboko_dam_node_update
                params:
                    uuid: id

    kiboko-dam-documents-grid:
        source:
            type: orm
            query:
                select:
                    - document.id
                    - name.string AS localeName
                    - slug.string AS localeSlug
                from:
                    - { table: KibokoDAMBundle:Document, alias: document }
                join:
                    left:
                        - { join: document.names, alias: name }
                        - { join: document.slugs, alias: slug }
                where:
                    and:
                        - name.localization IS NULL
                        - slug.localization IS NULL
                        - document.node = :parent
            bind_parameters:
                parent: parent
        columns:
            id:
                label: ID
            name:
                label: Name
                data_name: localeName
            slug:
                label: Slug
                data_name: localeSlug
        sorters:
            columns:
                id:
                    data_name: node.id
                name:
                    data_name: localeName
                slug:
                    data_name: localeSlug
        filters:
            columns:
                id:
                    type: string
                    data_name: task.id
                name:
                    type: string
                    data_name: localeName
                slug:
                    type: string
                    data_name: localeSlug
