version: '2'

services:
  mail:
    image: namshi/smtp:latest
    environment:
      RELAY_NETWORKS: ":192.168.0.0/24"
      PORT: 1025

  sql:
    environment:
      POSTGRES_PASSWORD: "password"

  http:
    ports:
      - 8000:80
    volumes:
      - ./.docker/nginx@1.15/config/vhost-prod.conf:/etc/nginx/conf.d/100-default.conf

  fpm:
    volumes:
      - ./.docker/php@7.1/fpm/prod/config/pool.ini:/usr/local/etc/php/pool.d/default.ini:ro
      - ./.docker/php@7.1/fpm/prod/config/memory.ini:/usr/local/etc/php/conf.d/memory.ini:ro
      - ./.docker/php@7.1/fpm/prod/config/xdebug.ini:/usr/local/etc/php/conf.d/xdebug.ini:ro
      
  ws:
    command: ["bin/console", "gos:websocket:server", "--env=prod", "codep"]
    ports:
      - 8080:8080
    volumes:
      - ./.docker/php@7.1/cli/prod/config/memory.ini:/usr/local/etc/php/conf.d/memory.ini:ro
      - ./.docker/php@7.1/cli/prod/config/xdebug.ini:/usr/local/etc/php/conf.d/xdebug.ini:ro

  mq:
    command: ["bin/console", "oro:message-queue:consume", "--env=prod", "-vv"]
    volumes:
      - ./.docker/php@7.1/cli/prod/config/memory.ini:/usr/local/etc/php/conf.d/memory.ini:ro
      - ./.docker/php@7.1/cli/prod/config/xdebug.ini:/usr/local/etc/php/conf.d/xdebug.ini:ro

  cli:
    volumes:
      - ./.docker/php@7.1/cli/prod/config/memory.ini:/usr/local/etc/php/conf.d/memory.ini:ro
      - ./.docker/php@7.1/cli/prod/config/xdebug.ini:/usr/local/etc/php/conf.d/xdebug.ini:ro
