{% extends 'OroUIBundle:actions:index.html.twig' %}

{% set gridName = 'kiboko-dms-root-nodes-grid' %}
{% set pageTitle = 'Team Storages' %}

{% block navButtons %}
    <div class="btn-group">
        {{ UI.addButton({
            'path': path('kiboko_dms_create'),
            'entity_label': 'Team Storage',
        }) }}
    </div>
{% endblock %}
