{% extends 'OroUIBundle:actions:index.html.twig' %}

{% set gridName = 'kiboko-dam-document-nodes-grid' %}
{% set params = {'parent': node.id} %}
{% set pageTitle = node.names|localized_value %}

{% block navButtons %}

    <div class="btn-group">
        {% if is_granted('kiboko_dam_node_create') %}
            {{ UI.addButton({
                'path': path('kiboko_dam_node_create', { uuid: node.id }),
                'entity_label': 'Folder'|trans,
            }) }}
        {% endif %}
    </div>

{% endblock %}
