{% block content %}
    <div class="container-fluid">
        <h1>{{ 'Ta DAM !'|trans }}</h1>
        <p>We can't wait to see what you will create with our Platform...</p>
    </div>
{% endblock content %}
