<span class="nowrap">
    <img src="{{ path('oro_resize_attachment', {
        width: 50,
        height: 50,
        id: record.getValue('fileId'),
        filename: record.getValue('fileName'),
    }) }}" />
</span>
